body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
}

.logo {
  width: 50px;
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 70px;
  background-color: #E30913;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.5em;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
  border-radius: 2px;
  transition: all 0.3s;
}

#mainImg {
  width: 100%;
  object-fit: cover;
  height: 400px;
  border-bottom: 5px solid #E30913;
}

.info-section {
  padding: 20px;
}

.rating, .dates {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.foodList {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.foodCategorie {
  background-color: #E30913;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.foodCategorie:hover {
  background-color: #C20710;
}

.foods div {
  margin-bottom: 15px;
}

.basket-container {
  position: fixed;
  top: 70px;
  right: 0;
  width: 300px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.basketTopic, h2 {
  font-size: 1.2em;
  color: #E30913;
  font-weight: 900;
}

.basketText {
  color: #888;
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #E30913;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
}

button:disabled {
  background-color: #C20710;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #C20710;
}

@media (max-width: 768px) {
  .basket-container {
      position: static;
      width: 100%;
      height: auto;
      margin-top: 20px;
  }
}

.stars, .datesImg {
  width: 20px; 
  height: 20px;
  object-fit: cover;
}

#basketImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

